<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <!--缓存级别：SESSION/STATEMENT-->
        <setting name="localCacheScope" value="SESSION"/>
    </settings>

    <plugins>
        <plugin interceptor="wang.coisini.mybatis.test.plugin.TestPlugin">
            <property name="test00" value="100"/>
            <property name="test01" value="200"/>
        </plugin>
    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useUnicode=true"/>
                <property name="username" value="root"/>
                <property name="password" value="1767737316."/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/User_Mapper.xml"/>
        <mapper resource="mapper/Activity_Mapper.xml"/>
     <!--   <mapper class="wang.coisini.mybatis.test.dao.IUserDao"/>-->
    </mappers>

</configuration>
